body {
  /* background-color: rgba(11, 82, 11, 0.893); */
  background-image: linear-gradient(to right, rgba(8, 30, 8, 0.893), rgba(60, 179, 60, 0.93));
  color: black;
}

.container-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitulo {
  color: rgb(73, 8, 8);
  text-shadow: #ff4444;

}

.toastify {
  font-weight: bold;
}


#juegos {
  display: flex;
  justify-content:space-evenly
  
}

#juego1 {
  margin-left: 10px;
  width: 50%;

}

#ruleta {
  display: flex;
  justify-content: center;
  margin: 15px;

}

#ruleta img {
  display: flex;
  align-items: center;
  border-radius: 50% 50% 50% 50%;
}

#giraRuleta {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#apuestaRuleta,
#numeroRuleta {
  width: 200px;
  border-color: rgb(237, 111, 111);
}

.botonRuleta {
 font-weight: bold;
 border: solid rgb(5, 82, 28);
}

.botonBorrar {
  
  font-weight: bold;
  border: solid rgb(156, 30, 23);
}

table th {
  color: black;
  font-weight: bold;
}

table td {
  color: black;
}

.container-resultado,
.container-ganadorPerdedor {
  margin: 20px;
  display: flex;
  justify-content: center;

}

.tabla {
  height: 100px;
}


.container-imagenDado {
margin: 30px;
display: flex;
justify-content: space-around;
}

.container-imagenDado img {
  height: 200px;
  width: 200px;
  text-align: center;
  
  
 }

 .containerSuma, .tiroActual, .containerNumeroTiro, .containerRecordActual  {
  display: flex;
  justify-content: space-around;
 }

 .containerRecordActual {
  color: rgb(234, 255, 8);
 }

.explicacion {
  display:flex;
  flex-direction: column;
 
}

.containerBotonDado {
  display: flex;
  justify-content: center;
}

.botonUno1 {
  font-weight: bold;
  border: solid rgb(17, 17, 140);
  border-right: none;
  
}
.botonUno2, .botonUno3 {
  font-weight: bold;
  border: solid rgb(17, 17, 140);
  border-right: none;
  border-left: none;
  }

  .botonUno4 {
    font-weight: bold;
    border: solid rgb(17, 17, 140);
    border-left: none;
  }

  .tituloUno {
    text-align: center;
  }

h1 {
  font-size: 4rem;

}

/* efecto borde */
/* //fin efecto borde */

h2 {
  margin: 10px;
  text-align: center;
}

h5 {
  font-weight: lighter;
}



.logo {
  text-align: center;
  height: 80px;


}

.logo b {
  font: 400 5vh "Vibur";
  color: rgb(232, 194, 194);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}